/* ============================================================
  Lilevitchi | Test - CSS
   ============================================================*/

/* ============================================================
   VARIABLES
   ============================================================*/

:root {
  /* Layout */
  --header-height: 3.5rem !important;
}

/* ============================================================
   HEADER
   ============================================================*/

.md-header {
  height: var(--md-header-height) !important;
}

/* On s'assure que les éléments internes ne flottent pas */
.md-header__inner {
  height: var(--md-header-height) !important;
  display: flex;
  align-items: center;
}

/* Fixer la taille du titre du site (à gauche) */
.md-header__title {
  font-size: 1.1rem !important; /* Taille standard du thème */
  line-height: 1.2 !important;
}

/* Fixer la taille du titre de la page (quand il apparaît au défilement) */
.md-header__topic {
  font-size: 1.1rem !important;
  font-weight: 700 !important; /* Pour garder le gras si vous voulez */
}

/* Empêcher le conteneur du titre de changer de padding */
.md-header__title .md-ellipsis {
  padding: 0 !important;
  margin: 0 !important;
}

/* On empêche le titre et les icônes de changer de taille ou de padding */
.md-header__button {
  padding: .4rem;
  margin-top: 0;
}

/* ============================================================
   STRUCTURE MAIN
   ============================================================*/

/* On empêche le contenu de la page de venir percuter le header */
.md-main {
  margin-top: 0 !important;
}

/* ============================================================
   SIDEBARS
   ============================================================*/

/* Important : Désactiver l'ajustement automatique du menu latéral */
.md-sidebar {
  top: var(--md-header-height) !important;
}
