/* ============================================================
   STRUCTURE MAIN
   ============================================================*/
  
  [data-md-color-scheme].md-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-page);
  }
  
  [data-md-color-scheme].md-main {
    flex: 1 0 auto;
    display: block;
    padding-top: var(--header-height) !important;
  }

  [data-md-color-scheme].md-grid {
    max-width: 100% !important;
    margin: 0 !important;
  }
  
  .md-main__inner {
    display: flex;
    align-items: flex-start;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: var(--sidebar-gap) !important;
  }
  
/* ============================================================
   CONTENU CENTRAL
   ============================================================*/

  /* --- CONTENT — STICKY --- */
  /*.md-content {
    background: var(--bg-page) !important;
    color: var(--text-primary);
    border-radius: var(--radius-md);
    flex: 1;
    min-width: 0;
    position: relative !important;
    height: auto !important;
    margin: var(--sidebar-gap) var(--sidebar-gap) 0 var(--sidebar-gap) !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    padding-bottom: 20px !important;
  }*/

/* --- CONTENT — FIXED --- */
  .md-content {
    background: var(--bg-page) !important;
    color: var(--text-primary);
    border-radius: var(--radius-md);
    flex: 1;
    min-width: 0;
    position: relative !important;
    height: auto !important;
    margin-top: var(--sidebar-gap) !important;
    margin-left: calc(var(--sidebar-width-primary) + (var(--sidebar-gap) * 2)) !important;
    margin-right: calc(var(--sidebar-width-secondary) + (var(--sidebar-gap) * 2)) !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    padding-bottom: 20px !important;
  }

  .md-content__inner {
    margin: 0 !important;
    padding: 0 !important;
  }

  .md-content__inner:before {
    display: none;
  }

  .md-content h1 {
    display: none !important;
  }
  
/* --- CUSTOM CARD --- */
  .custom-card {
    background-color: var(--bg-surface);
    border-radius: var(--radius-md);
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 8px;
    transition: transform 187ms ease;
  }

  .md-content :is(h1, h2, h3, h4, h5, h6),
  .custom-card {
    scroll-margin-top: calc(var(--header-height) + 60px);
  }

/* ============================================================
   FOOTER
   ============================================================*/
  
  .md-footer {
    flex-shrink: 0;
    height: var(--footer-height);
    background-color: var(--bg-surface);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin: 0 !important;
    border: none;
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s ease !important;
  }

  .md-footer-meta {
    background-color: transparent;
    margin-top: -3px; 
  }

  .md-footer-meta__inner {
    height: calc(var(--footer-height) + 3px);
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0 !important;
    font-size: var(--text-size-footer);
    color: var(--text-muted);
  }
