/* ============================================================
   Lilevitchi | Modding - Style CSS
   ============================================================*/





/* ============================================================
   TYPOGRAPHIE & CONTENU
   ============================================================*/
  
  .md-typeset {
    font-size: var(--text-size-content);
    color: var(--text-primary);
    line-height: 1.6;
  }

  .md-typeset h1, .md-typeset h2, .md-typeset h3 {
    color: var(--text-primary);
    font-weight: 700;
  }

  .md-typeset p {
    color: var(--text-primary);
  }



/* ============================================================
   CURSEURS
   ============================================================*/

  /* Curseur normal */
  .game-card, .md-logo, .md-header__button, .md-tabs__link, .md-nav__link, .md-typeset a {
    cursor: var(--cursor-default) !important;
  }

  /* Curseur clic (doigt replié) */
  .game-card:active, .md-logo:active, .md-header__button:active, .md-tabs__link:active, .md-nav__link:active, .md-typeset a:active  {
    cursor: var(--cursor-click) !important;
  }
